<ion-navbar [color]="getBackground()">
  <ion-buttons start>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>{{ title }}</ion-title>
  <ion-buttons end>
    <button (tap)="takeScreenShot()" ion-button icon-only>
      <ion-icon name="ios-share-outline" md="md-share">
      </ion-icon>
    </button>
    <button [navPush]="alertsPage" ion-button icon-only>
      <ion-icon name="notifications-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
