<ion-header>
  <header-nav title="PMC"></header-nav>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header no-padding>
      <ion-list no-lines>
        <ion-item>
          <h2>PMC Scorecard Trends</h2>
          <p>Swipe for more trends</p>
          <ion-icon
            [name]="trendsIcon"
            (click)="toggleTrendsIcon()"
            color="blueFont"
            item-end></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager>
        <ion-slide>
          <chart
            *ngIf="abcGasScoreTrends"
            (press)="activateDrilldown('gas score')"
            [data]="abcGasScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
        <ion-slide>
          <chart
            *ngIf="safetyScoreTrends"
            [data]="safetyScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
        <ion-slide>
          <chart
            *ngIf="profitabilityScoreTrends"
            [data]="profitabilityScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <card-list *ngIf="pmcScorecards" [card]="pmcScorecards"></card-list>
  </ion-card>
</ion-content>
