<ion-header>
  <ion-navbar [color]="getBackground()">
    <ion-buttons start>
      <button menuToggle ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>PMC</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon
          (tap)="screenShot()"
          name="ios-share-outline"
          md="md-share">
        </ion-icon>
      </button>
      <button [navPush]="alertsPage" ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <img [src]="screen" *ngIf="screen">
  <ion-card>
    <ion-card-header no-padding>
      <ion-list no-lines>
        <ion-item>
          <h2>PMC Scorecard Trends</h2>
          <p>Swipe for more trends</p>
          <ion-icon
            [name]="trendsIcon"
            (click)="toggleTrendsIcon()"
            color="blueFont"
            item-end></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager>
        <ion-slide>
          <chart
            *ngIf="abcGasScoreTrends"
            (press)="activateDrilldown('gas score')"
            [data]="abcGasScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
        <ion-slide>
          <chart
            *ngIf="safetyScoreTrends"
            [data]="safetyScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
        <ion-slide>
          <chart
            *ngIf="profitabilityScoreTrends"
            [data]="profitabilityScoreTrends"
            height="'100px'"></chart>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <card-list *ngIf="pmcScorecards" [card]="pmcScorecards"></card-list>
  </ion-card>
</ion-content>
