<ion-header>
  <header-nav title="Projects"></header-nav>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header no-padding>
      <ion-list no-lines>
        <ion-item>
          <h2>Projects Breakdown</h2>
          <p>Swipe for more charts</p>
          <ion-icon
            [name]="trendsIcon"
            (click)="toggleTrendsIcon()"
            color="blueFont"
            item-end></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager>
        <ion-slide>
          <chart
            *ngIf="echartsData"
            (chartClickEmit)="prepDrilldown($event)"
            [data]="echartsData"
            height="'150px'"></chart>
        </ion-slide>
        <ion-slide>
          <chart *ngIf="echarts2Data" [data]="echarts2Data" height="'150px'"></chart>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <card-list *ngIf="projectsSummary" [card]="projectsSummary"></card-list>
  </ion-card>
  <ion-card>
    <card-list *ngIf="projectsHse" [card]="projectsHse"></card-list>
  </ion-card>
</ion-content>
