<ion-header (swipe)="onDismiss()" (tap)="onDismiss()">
  <ion-navbar [color]="getBackground()">
    <ion-title>{{ scorecard.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content (swipe)="onDismiss()">
  <ion-card>
    <ion-card-header>
      <scorecard-header [kpiHeaders]="scorecard.headers"></scorecard-header>
    </ion-card-header>
    <ion-card-content no-padding>
      <chart [data]="scorecard.chartData" height="'120px'"></chart>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="scorecard.tableData">
    <ion-card-header>
      {{ scorecard.name }} Breakdown Details
    </ion-card-header>
    <ion-card-content text-center no-padding>
      <table>
        <tr class="headers">
          <th *ngFor="let header of scorecardHeaders">{{ header }}</th>
        </tr>
        <tr *ngFor="let element of scorecard.tableData" class="element">
          <td *ngFor="let header of scorecardHeaders">{{ element[header] }}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
